<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

     
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<title>MAIT 2019</title>
  </head>
  <body>

<header class="navbar fixed-top navbar-dark bg-dark"> 
    <a class="navbar-brand" href="#">
        <img src="../img/logo.svg"  width="90" height="60" alt="">
    </a>
    <span class="navbar-brand mx-auto d-block text-center order-0 order-md-1 w-25">
       <h1 class="h1">Data Analytics Platform</h1> 
    </span>
</header>

<div class="container-fluid">
    
    <div class="row">

        <nav class="col-md-3 d-none d-md-block bg-light sidebar" style="padding-top: 90px;"> 
            <div class="bd-toc-item sidebar-sticky">
                <h5 class="border-bottom"></h5>

                <div class="input-group">
                    
                        <label class="btn btn-default btn-file">
                            Import File + <input type="file"  id="ImportFile" style="display: none;"  onchange='onFilePicked(event)'>
                            <!-- <span class="glyphicon glyphicon-plus"></span> -->
                            <!-- <i class="glyphicon glyphicon-plus"></i> -->
                            <!-- <span aria-hidden="true">&plus;</span> -->
                        </label> 
                    
                    </div>
                    <div class="dropdown mb-3">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Data Reset / Deletion
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" onclick="resetAll()">Reset All</a>
                          <a class="dropdown-item" onclick="resetToOriginalData()">Reset to Original Data</a>
                          <a class="dropdown-item" onclick="deleteSeries()">Delete selected series</a>
                        </div>
                      </div>
                <h5 class="border-bottom">Select dataset</h5>

                        <div class="input-group">
                            <select class="custom-select" id="selectDataSet" onchange="onChangeselectDataSet()">
                                <option selected>Choose dataset:</option>
                                <!-- <option value="1">One</option> -->
                              </select>
                        </div><br>



                <h5 class="border-bottom">Interpolation:</h5>

                <ul class="nav flex-column">
                    <li class="nav-item">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="HardLimit_deviation" id="HardLimitRadios" value="option1" checked>
                            <label class="form-check-label" for="HardLimitRadios">
                                Hard limit values
                            </label>
                          </div>
                          <!-- MinMax -->
                          <div class="input-group input-group-sm mb-3 ml-1">
                            <div class="input-group-prepend">
                              <span class="input-group-text">Min</span>
                            </div>
                            <input type="number" class="form-control" id='Intrp_Min' step="0.0001" aria-label="Min Value" onKeyUp="this.reportValidity()">
                          </div>

                          <div class="input-group input-group-sm mb-3 ml-1">
                            <div class="input-group-prepend">
                              <span class="input-group-text">Max</span>
                            </div>
                            <input type="number" class="form-control" id='Intrp_Max' step="0.0001" aria-label="Max Value" onKeyUp="this.reportValidity()">
                          </div>
                          <!--  -->



                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="HardLimit_deviation" id="StdRadios" value="option2">
                            <label class="form-check-label" for="StdRadios">
                                Standart deviation
                            </label>
                          </div>

                         <!-- Standart deviation factor -->
                          <div class="input-group input-group-sm mb-3 ml-1">
                            <div class="input-group-prepend">
                              <span class="input-group-text">Std factor</span>
                            </div>
                            <input type="number" class="form-control" id='Std_factor' aria-label="Std factor" value="1" min="1" max="6" onKeyUp="this.reportValidity()">
                          </div>

                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="Linear_quadratic" id="linear_radio" value="linear" checked>
                            <label class="form-check-label" for="linear_radio">
                                Linear
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="Linear_quadratic" id="quadratic_radio" value="quadratic">
                            <label class="form-check-label" for="quadratic_radio">
                                Quadratic
                            </label>
                          </div>
                          
                            <div class="text-center">
                                <button type="submit" class="btn btn-outline-secondary" onclick="performInterpolation()">Calculate</button>
                                <div class="alert alert-danger alert-dismissible fade show  mt-2" style="display:none;" id="alertInterpolation" role="alert">
                                    <label id="alertInterpolationLbl"><strong>Alert:</strong>You should check in on some of those fields below.</label> 
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            </div>
                    </li >
                    <!-- <li class="nav-item">
                        <button  type="button" class="btn btn-light" data-toggle="modal" data-target="#MeanStandartdeviation"> Mean & Standart deviation </button>
                    </li > -->
                </ul>

                <!-- <h5 class="border-bottom"> Interpolation:</h5>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <button  type="button" class="btn btn-light" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" aria-pressed="true"> Linear Interpolation </button>

                        <div class="collapse ml-3 border-left" id="collapseExample">
                            <div class="input-group input-group-sm mb-3 ml-1">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">Min</span>
                                </div>
                                <input type="text" class="form-control" id='Intrp_Min' aria-label="Min Value">
                              </div>

                              <div class="input-group input-group-sm mb-3 ml-1">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">Max</span>
                                </div>
                                <input type="text" class="form-control" id='Intrp_Max' aria-label="Max Value">
                              </div>
                              
                              <div class="input-group input-group-sm mb-3 ml-1">
                                <div class="input-group-prepend">
                                    <button type="button" class="btn btn-secondary" onclick="buttonInterpolationClick()">Submit</button>
                                </div>
                              </div>
                        </div>
                    </li >
                    <li class="nav-item">
                        <button  type="button" class="btn btn-light"> Quadratic interpolation </button>
                    </li >
                </ul> -->
                <h5 class="border-bottom"> Smoothing:</h5>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="Smoothing" id="backward_radio" value="backward" checked>
                            <label class="form-check-label" for="backward_radio">
                                Backward
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="Smoothing" id="forward_radio" value="forward">
                            <label class="form-check-label" for="forward_radio">
                                Forward
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="Smoothing" id="fixed_radio" value="fixed">
                            <label class="form-check-label" for="fixed_radio">
                                Fixed
                            </label>
                          </div>
                          <div class="input-group input-group-sm mb-3 ml-1">
                            <div class="input-group-prepend">
                              <span class="input-group-text">Window</span>
                            </div>
                            <input type="number" class="form-control" id='Smooth_Window' aria-label="window" value="2" min="2" onKeyUp="this.reportValidity()">
                          </div>
                          <div class="text-center">
                            <button type="submit" class="btn btn-outline-secondary" onclick="performSmoothing()">Calculate</button>
                            <div class="alert alert-danger alert-dismissible fade show  mt-2" style="display:none;" id="alertSmoothing" role="alert">
                                <label id="alertSmoothingLbl"><strong>Alert:</strong>You should check in on some of those fields below.</label> 
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                        </div>
                    </li >
                </ul>
                <h5 class="border-bottom"> I/O Relationship models:</h5>
                <ul class="nav flex-column">
                    <label>Select input:   </label>
                    <select class="custom-select mb-2" multiple size="4" id="selectDataSetNNInput" onchange="onChangeselectDataSet()">
                        <option selected>Choose one or more datasets:</option>
                        <!-- <option value="1">One</option> -->
                    </select>
                    <label>Select output:   </label>
                    <select class="custom-select mb-2" id="selectDataSetNNOutput" onchange="onChangeselectDataSet()">
                        <option selected>Choose one dataset:</option>
                        <!-- <option value="1">One</option> -->
                    </select>

                    <!-- Neural Network -->
                    <li class="nav-item"> 
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="NN_RF" id="neuralNet_radio" value="neuralNet" checked>
                            <label class="form-check-label mb-2" for="neuralNet_radio">
                                Neural Network
                            </label>
                        </div>
                        <!--Test Size  -->
                        <div class="input-group input-group-sm mb-3 ml-1">
                            <div class="input-group-prepend">
                              <span class="input-group-text">Test Size</span>
                            </div>
                            <input type="number" class="form-control" id='NN_testSize' aria-label="window" value="80.0" min="10" max="90" step="0.01" onKeyUp="this.reportValidity()">
                        </div>

                        <div class="input-group input-group-sm mb-3 ml-1">
                            <select class="custom-select " id="NN_activFunction" onchange="onChangeNN_activFunction()">
                                <option selected>Choose Active Function</option>
                                <option value="1">Identity</option>
                                <option value="2">Logistic</option>
                                <option value="3">Tanh</option>
                                <option value="4">Relu</option>
                              </select>
                        </div>

                        <div class="input-group input-group-sm mb-3 ml-1">
                            <select class="custom-select " id="NN_solverFunction" onchange="onChangeNN_solverFunction()">
                                <option selected>Choose Solver Function</option>
                                <option value="1">Lbfgs</option>
                                <option value="2">Sgd</option>
                                <option value="3">Adam</option>
                              </select>
                        </div>



                        <!--Hidden layers  -->
                        <div class="input-group input-group-sm mb-3 ml-1">
                            <div class="input-group">
                                Hidden layers
                            </div>
                            <div class="input-group mb-1" style="font-size:small" >
                                <input type="number" class="mr-1" id="hl1" value="8" min="1" max="1000" onKeyUp="this.reportValidity();"/>
                                <input type="number" class="mr-1" id="hl2" value="4" min="1" max="1000" onKeyUp="this.reportValidity();"/>
                                <input type="number" class="mr-1" id="hl3" value="4" min="1" max="1000" onKeyUp="this.reportValidity();"/>
                                <input type="number" class="mr-1" id="hl4" value="" min="1" max="1000" onKeyUp="this.reportValidity();"/>
                                <input type="number" class="mr-1" id="hl5" value="" min="1" max="1000" onKeyUp="this.reportValidity();"/>
                            </div>
                            <div class="input-group mb-1 " style="font-size:small">
                                <input type="number" class="mr-1" id="hl6" value="" min="1" max="1000" onKeyUp="this.reportValidity();"/>
                                <input type="number" class="mr-1" id="hl7" value="" min="1" max="1000" onKeyUp="this.reportValidity();"/>
                                <input type="number" class="mr-1" id="hl8" value="" min="1" max="1000" onKeyUp="this.reportValidity();"/>
                                <input type="number" class="mr-1" id="hl9" value="" min="1" max="1000" onKeyUp="this.reportValidity();"/>
                                <input type="number" class="mr-1" id="hl10" value="" min="1" max="1000" onKeyUp="this.reportValidity();"/>
                            </div>   
                            <p>  </p>
                        <!--Iterations -->
                        <div class="input-group input-group-sm mb-3 mt-3 ml-1">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Iterations</span>
                            </div>
                            <input type="number" class="form-control" id='NN_iterations' aria-label="window" value="200" min="1" max="2000" onKeyUp="this.reportValidity();">
                        </div>


                        <div class="form-check ml-1">
                            <input class="form-check-input" type="checkbox" value="" id="NN_Scaling">
                            <label class="form-check-label" for="NN_Scaling">
                              Scaling
                            </label>
                        </div>
                        
                    </li >
                    <!-- Random Forest -->
                    <li class="nav-item">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="NN_RF" id="ranromF_radio" value="randomForest">
                            <label class="form-check-label mb-2" for="ranromF_radio">
                                Random Forest
                            </label>
                        </div>        
                        <!--Iterations -->
                        <div class="input-group input-group-sm mb-3 ml-1">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Trees</span>
                            </div>
                            <input type="number" class="form-control" id='RF_Trees' aria-label="Trees" value="300" min="1" max="1000" onKeyUp="this.reportValidity();" >    
                            <div class="input-group-prepend">
                                <span class="input-group-text">Test size</span>
                            </div>
                            <input type="number" class="form-control" id='RF_TestSize' aria-label="Test size" value="20"
                            min=10 max=90 step="0.01" onKeyUp="this.reportValidity();">
                        </div>
                        <div class="form-check ml-1">
                            <input class="form-check-input" type="checkbox" value="" id="RF_useHistory">
                            <label class="form-check-label" for="RF_useHistory">
                              Use history
                            </label>
                        </div>
                        <br>
                        <div class="text-center">
                            <button type="submit" class="btn btn-outline-secondary mb-5">Calculate</button>                       
                        </div>
                    </li >
                </ul>
            </div>
        </nav>




        <main role="main" class="col-md-8 ml-sm-auto col-lg-9 px-4" style="padding-top: 90px;">

            <div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
                <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                    <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
                </div>
                <div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
                </div>
            </div>

            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-4 border-bottom">
                <h4 class="h4">Dashboard</h4>
            </div>
            <canvas id="myChart"  class="border-bottom"></canvas>
            <!-- <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea> -->



        </main>
    
    </div>
</div>

    

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js"></script>
<script src="https://unpkg.com/papaparse@latest/papaparse.min.js"></script>

<script language = "vbscript" type = "text/vbscript">

    Function sayHello()
        MsgBox("Welcome") 
    End Function
    
</script>

<script>

    // Global var!!!!!!!!!!!!!!
    var dataSeriesDict ={}
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart
    var selectDataMenusArray = ["selectDataSet", "selectDataSetNNInput", "selectDataSetNNOutput"];
    var selectDataMenusArrayOptions = ["Choose dataset:", "Choose one or more datasets:", "Choose one dataset:"];

    //Get global data object from Python
    getGlobalDataObject() 

    // Import file, button action
    var onFilePicked = function(event) {
        var input = event.target;
        var file = input.files[0];
        console.log(file.name);
        ProcessFile(file);
        };
    
    // Process data from file
    function ProcessFile(file){
        Papa.parse(file, {
            config: {
                delimiter: ";",
                dynamicTyping: true,
                skipEmptyLines: true
            },
            complete: function(results) {
                console.log("Finished:", results.data);
                console.log("Arr:", results.data[0].length);
                
                //TO DO: ERROR CHECKING FOR FILE 

                // Rows to colums :( I  hate .csv
                correctResult =[]    //Array of vectors
                for (var index=0; index < results.data[0].length; ++index){
                    var column= []
                    for (var j in results.data){
                    column.push(parseFloat(results.data[j][index]));
                    };
                    correctResult.push(column)
                }
                console.log("correctResult:", correctResult);
                //formating the data to be sent to Python
                postData = { 
                    fileName: file.name.replace(".csv", ""),
                    dataArray: correctResult
                    };
                postDataToPython(postData)   // Go to send data to python
            }  
      
        });
    }
    //sending data to Python
    async function postDataToPython(postdata){
        const posturl = 'http://127.0.0.1:5000/importDataFromFile';
        try {
                const response = await fetch(posturl, {
                    method: 'POST', 
                    body: JSON.stringify(postdata), 
                    headers: {
                        'Content-Type': 'application/json'
                    }
                });
                //waiting for the response from Python
                const json = await response.json();
                // console.log(json)
                dataSeriesDict = JSON.parse(json).dataSeriesDict;
                // console.log(dataSeriesDict)
                
                const keys = Object.keys(dataSeriesDict);
                console.log(keys);
                //prepares the information for the dropdown menu of the data series
                addOptionsToSelectDataset(keys)
                
                // console.log('Success:', JSON.stringify(json));
            } 
        catch (error) {
                console.error('Ошибка:', error);
            } 

    }   

    //method to receive the data from Python
    async function getGlobalDataObject() {
            const url = 'http://127.0.0.1:5000/getGlobalDataObject';
            const response = await fetch(url);
            const json = await response.json();
            console.log(json)
            dataSeriesDict = JSON.parse(json).dataSeriesDict;
            const keys = Object.keys(dataSeriesDict);
            console.log(keys);
            addOptionsToSelectDataset(keys)
        };




    //removes all options from any dropdown menu
    function removeOptions(selectbox) {
        var i;
        for(i = selectbox.options.length - 1 ; i >= 0 ; i--)
        {
            selectbox.remove(i);
        }
    }


    //add options to a dropdown menu
    function addOptionsToSelectDataset(dataSetsNames) {
        
        for (i = 0; i < selectDataMenusArray.length; i++) {
            var selectDataSet = document.getElementById(selectDataMenusArray[i]);   
            removeOptions(selectDataSet)
            var option= document.createElement("option"); 
            option.textContent = selectDataMenusArrayOptions[i];
            selectDataSet.appendChild(option);
            dataSetsNames.forEach((element, index) => {
                var option= document.createElement("option"); 
                console.log(index); // 0, 1, 2
                option.textContent = element;
                selectDataSet.appendChild(option);
            });
        }
    };
    
    //action triggered when any selection is made in a dropdown menu
    function onChangeselectDataSet(){    
        var selectDataSet = document.getElementById("selectDataSet");
        currKey=selectDataSet.value
        console.log(currKey);
        console.log(dataSeriesDict[currKey].name);
        fillAllElements(currKey);
        plotData(currKey);
    };

    function fillAllElements(key){

        var HardLimitValuesMin = document.getElementById("Intrp_Min");
        var HardLimitValuesMax = document.getElementById("Intrp_Max");
        document.getElementById("Intrp_Min").setAttribute("min",dataSeriesDict[currKey].realMin); // set a new value;
        document.getElementById("Intrp_Min").setAttribute("max",dataSeriesDict[currKey].realMax); // set a new value;
        document.getElementById("Intrp_Max").setAttribute("min",dataSeriesDict[currKey].realMin); // set a new value;
        document.getElementById("Intrp_Max").setAttribute("max",dataSeriesDict[currKey].realMax); // set a new value;
        HardLimitValuesMin.value = dataSeriesDict[currKey].realMin;
        HardLimitValuesMax.value = dataSeriesDict[currKey].realMax;
        
        document.getElementById("Smooth_Window").setAttribute("max",dataSeriesDict[currKey].currentData.length); // set a new value;
    };

    function plotData(key){


        var chartColors = {
            red:    'rgb(255, 99, 132)',
            orange: 'rgb(255, 159, 64)',
            yellow: 'rgb(255, 205, 86)',
            green:  'rgb(75, 192, 192)',
            blue:   'rgb(54, 162, 235)',
            purple: 'rgb(153, 102, 255)',
            grey:   'rgb(201, 203, 207)'
        };
        var colorNames = Object.keys(chartColors);

        var currentData=dataSeriesDict[key].currentData;
        var originalData=dataSeriesDict[key].originalData;


        // var colorName = colorNames[config.data.datasets.length % colorNames.length];
        var colorName = colorNames[4];
        var newColor = chartColors[colorName];
        var config = {
            type: 'line',
            data: {
                labels: [...Array(currentData.length).keys()],
                datasets: [
                    {
                        label: 'currentData',
                        backgroundColor: newColor,
                        data: currentData,
                        borderColor: newColor,
                        fill: false
                    },
                    {
                        label: 'originalData',
                        backgroundColor: colorNames[3],
                        data: originalData,
                        borderColor: colorNames[3],
                        fill: false

                    }
            ]
            },
            options: {
                responsive: true,
                scaleShowGridLines : true,
                scaleShowVerticalLines: true,
                scaleShowHorizontalLines: true,
                maintainAspectRatio: true,
            }
        };        
               
        // var plotData = {
        //         labels: [...Array(dataForPlot.length).keys()],
        //         datasets: [{
        //             label: 'currentData',
        //             backgroundColor: newColor,
        //             data: dataForPlot,
        //             borderColor: newColor,
        //             fill: false

        //         }]
        //     };
 
        if (typeof myChart != "undefined") { 
                myChart.destroy();
                myChart = new Chart(ctx,config);
                // myChart.update();
            } else { 

                myChart = new Chart(ctx,config);

            } 

    }


    function valueWithinLimits(elementName){
        if (document.getElementById(elementName).reportValidity())
            return true;
        else return false;
    }
    function clearAlerts(){
        document.getElementById("alertInterpolation").style.display = "none";
        document.getElementById("alertSmoothing").style.display = "none";
    }
    function performInterpolation(){
        clearAlerts();
        seriesName = document.getElementById("selectDataSet").value;
        if (seriesName == "Choose dataset:"){
            document.getElementById("alertInterpolationLbl").textContent = "ALERT: Incomplete data. Please select the data series to apply this function to.";
            document.getElementById("alertInterpolation").style.display = "";
            window.alert("The data provided is incomplete. Please select the data series to apply this function to.");
            return
        }
        if(document.getElementById("HardLimitRadios").checked && valueWithinLimits("Intrp_Min") && valueWithinLimits("Intrp_Max") &&  (document.getElementById("linear_radio").checked || document.getElementById("quadratic_radio").checked)){
            postData = { 
                action: "performInterpolation_Limit",
                seriesName: seriesName,
                selectedMin: document.getElementById("Intrp_Min").value,
                selectedMax: document.getElementById("Intrp_Max").value
            };
        } else if (document.getElementById("StdRadios").checked && valueWithinLimits("Std_factor")){
            postData = { 
                action: "performInterpolation_StandardDev",
                seriesName: seriesName,
                stdFactor: document.getElementById("Std_factor").value
            };
        } else {
            document.getElementById("alertInterpolationLbl").textContent = "ALERT: Incomplete data. Please fill in all relevant information and try again.";
            document.getElementById("alertInterpolation").style.display = "";
          //  window.alert("The data provided is incomplete. Please fill in all relevant information and try again.");
        }
        postActionToPython(postData)   // Go to send data to python  
    }
    // performing smoothing - we check if there is a type selected and also data and inform the customer 
    function performSmoothing(){
        clearAlerts();
        if (!valueWithinLimits("Smooth_Window")) {
            document.getElementById("alertSmoothingLbl").textContent = "ALERT: The number provided for window size is inaccurate. Please fill enter a value greater or equal to 2 and less than the size of the data series.";
            document.getElementById("alertSmoothing").style.display = "";
            // window.alert("The number provided for window size is inaccurate. Please fill enter a value greater or equal to 2 and less than the size of the data series.");
            return
        }
        seriesName = document.getElementById("selectDataSet").value
        if (seriesName == "Choose dataset:"){
            document.getElementById("alertSmoothingLbl").textContent = "ALERT: The data provided is incomplete. Please select the data series to apply this function to.";
            document.getElementById("alertSmoothing").style.display = "";
            //window.alert("The data provided is incomplete. Please select the data series to apply this function to.");
            return
        }
        var smoothingType = ""
        var seriesName = document.getElementById("selectDataSet").value
        if(document.getElementById("backward_radio").checked){
            smoothingType = document.getElementById("backward_radio").value;
        } else if (document.getElementById("forward_radio").checked) {
            smoothingType = document.getElementById("forward_radio").value;
        } else if (document.getElementById("fixed_radio").checked){
            smoothingType = document.getElementById("fixed_radio").value;
        } else {
            document.getElementById("alertSmoothingLbl").textContent = "ALERT: The data provided is incomplete. Please fill in all relevant information and try again.";
            document.getElementById("alertSmoothing").style.display = "";
            // window.alert("The data provided is incomplete. Please fill in all relevant information and try again.");
            return;
        }
        postData = { 
                action: "performSmoothing",
                seriesName: seriesName,
                smoothingType: smoothingType,
                window: document.getElementById("Smooth_Window").value
        };
        postActionToPython(postData)   // Go to send data to python  
    }

    //Alex, sorry that I am overwriting your method
    function buttonInterpolationClick(){
        //true for HardLimit and false for standart deviation
        //true for linear and false for quadratic interpolation
        
        seriesName = document.getElementById("selectDataSet").value
        if (seriesName == "Choose dataset:"){
            return
        }
        else{
            postData = {   
                seriesName: seriesName,       
                limit_or_dev: document.getElementById("HardLimitRadios").checked, 
                selectedMin: document.getElementById("Intrp_Min").value,
                selectedMax: document.getElementById("Intrp_Max").value,
                stdDevFactor: document.getElementById("Std_factor").value,
                interpolationType: document.getElementById("linear_radio").checked
            };  
            console.log(postData)  
            postCaclulateInterpolation(postData)   
        }




        


    };

    function resetAll(){
        postData = { 
            action: "deleteAll"
        };
        postActionToPython(postData)   // Go to send data to python
    }
    function resetToOriginalData(){
        postData = { 
            action: "resetToOriginalData"
        };
        postActionToPython(postData)   // Go to send data to python
    }

    function deleteSeries(){
        seriesName = document.getElementById("selectDataSet").value
        if (seriesName == "Choose dataset:"){
            return
        }
        postData = { 
            seriesName: seriesName,
            action: "deleteSeries"
        };
        postActionToPython(postData)   // Go to send data to python
    }

    async function postActionToPython(postdata){
        const posturl = 'http://127.0.0.1:5000/dataManipulation';
        try {
                const response = await fetch(posturl, {
                    method: 'POST', 
                    body: JSON.stringify(postdata), 
                    headers: {
                        'Content-Type': 'application/json'
                    }
                });
                //waiting for the response from Python
                const json = await response.json();
                // console.log(json)
                dataSeriesDict = JSON.parse(json).dataSeriesDict;
                // console.log(dataSeriesDict)
                const keys = Object.keys(dataSeriesDict);
                console.log(keys);
                //prepares the information for the dropdown menu of the data series
                addOptionsToSelectDataset(keys);
                location.reload();
                // console.log('Success:', JSON.stringify(json));
            } 
        catch (error) {
                console.error('Error:', error);
            } 
    }

    async function postCaclulateInterpolation(postdata){
        const posturl = 'http://127.0.0.1:5000/interpolation';
        try {
                const response = await fetch(posturl, {
                    method: 'POST', 
                    body: JSON.stringify(postdata), 
                    headers: {
                        'Content-Type': 'application/json'
                    }
                });
                //waiting for the response from Python
                const json = await response.json();
                console.log(json)
                //dataSeriesDict = JSON.parse(json).dataSeriesDict;
                // console.log(dataSeriesDict)
  
            } 
        catch (error) {
                console.error('Error:', error);
            } 
    }      

</script>

  </body>
</html>